<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="serverurl" value="http://test.salesforce.com" />
        <add key="username" value="username" />
        <add key="password" value="password" />
        <add key="orgId" value="orgid" />
    </appSettings>
</configuration>
